@charset "utf-8";
/*
 * SX.css
 * zx 2014 08
 */

/* Reset
================================================================================================= */
html{background: #fff}
body{color:#000;font-size:12px;line-height:2em;}
body{font-family:Gotham,"Microsoft Yahei",simsun,arial,sans-serif;}
h1,h2,h3,h4,h5{font-size:100%;font-weight: normal;}
body,h1,h2,h3,h4,ul,li,p,img,div{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;display: block;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}

/* Base Used
================================================================================================= */
a{text-decoration:none;outline: none;color:#444;}
.fl{float: left;_display: inline}
.fr{float: right;_display: inline}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}

/* Commonly Used
================================================================================================= */
/*head*/
.head{width: 80%;margin: 0 auto;padding: 50px 0;position: relative;}
.nav{float: left;width: 42%;}
.nav2{width: 30%}
.nav li{float: left;line-height: 50px;width: 33%;text-align: center;font-size: 14px}
.logo{float: left;width: 16%;}
.logo a{width: 50px;height: 50px;display: block;background: url('../images/logo.png') no-repeat;margin: 0 auto}
.hd_oter{position: absolute;top:63px;right: -8%}
.hd_language{float: left;}
.hd_language a{padding:0 7px;}
.hd_language .on{font-weight: bold;}
.hd_search{float: left;width: 24px;height: 24px;background: url('../images/hd_search.png') no-repeat center;}

/*section*/
.section{width: 80%;margin: 0 auto;}

/*slide*/
.slide{position: relative;}
.slidebox{width: 400%}
.slideitem{float: left;width:25%;}
.slidetab{position: absolute;left:50%;bottom:10%;margin-left:-52px;}
.slidetab li{width: 20px;height: 3px;border-bottom: #fff solid 3px;float: left;display: inline;margin: 0 3px}
.slidetab .on{opacity: 0.5;filter:alpha(opacity=50);-moz-opacity:0.5;}

/*intro*/
.intro{padding:20px 0 100px;}
.introtxt{font-size: 30px;text-align: center;text-transform : uppercase;line-height: 38px}
.introbtn{font-family: Garamond;font-size: 18px;font-style: italic;border:#000 solid 1px;display: block;margin: 50px auto 0;text-align: center;width: 250px;height: 62px;line-height: 62px}

/*piclist*/
.piclist{padding: 0 0 130px;}
.piclistitem{float: left;width: 32.8%;margin-right:0.8%;font-size: 18px;text-transform : uppercase;text-align: center;}
.piclistitem img{display: block;margin: 0 0 20px}

/*footer*/
.footer{background: #eee;}
/*location*/
.location{padding:66px 0 0 ;margin: 100px 0 0}
.range{background: url('../images/range.png') no-repeat top center;padding:60px 0 100px;}
.rangetxt{text-align: center;color:#333;font-family: arial}
.rangebtn{font-family: Garamond;font-size: 18px;font-style: italic;border:#000 solid 1px;display: block;margin: 20px auto 0;text-align: center;width: 250px;height: 62px;line-height: 62px}

/*store*/
.store{padding:0 0 110px;}
.storechoose{float: left;width: 50%;text-align: center;}
.storechoose h2{font-size: 30px; text-transform : uppercase;padding: 60px 0 20px;}
.storechoose p{font-family: Garamond;font-size: 18px;font-style: italic;width: 78%;margin: 0 auto}
.storechooselist{width:60%;margin: 40px auto 0}
.storechooselist li{float: left;width: 50%;}
.storechooselist a{font-family: Garamond;font-size: 18px;font-style: italic;border:#000 solid 1px;display: block;margin: 0 auto;text-align: center;height: 62px;line-height: 62px;width: 90%}
.storemap{float: left;width: 50%}

/*sitelinks*/
.sitelinks{text-transform : uppercase;padding:0 0 45px;}
.sitelinkitem{float: left;width:20%;}
.sitelinkitemS{width: 15%}
.sitelinkitemXS{width: 10%}
.sitelinkitem h2{font-size: 18px;padding:0 0 10px;}
.sitelinkitem a{display: block;line-height: 32px}
.sitelinkitemXS a{float: left;width: 27px;height: 22px;margin-right: 10px;overflow: hidden;line-height: 500em}
.ft_wx{background: url('../images/footer_wx.png') no-repeat;}
.ft_wb{background: url('../images/footer_wb.png') no-repeat;}

/*copyright*/
.copyright{background: url('../images/footer_logo.png') no-repeat top center;}
.copyright p{text-align: center;padding:115px 0 60px;}

/*introdetail*/
.detail{padding:50px 0 0;text-align: center;}
.detailcon{float: left;width: 68%;padding:0 0 35px;}
.detail h2{font-size:30px;padding:0 0 20px;text-transform : uppercase;line-height: 40px}
.detail p{font-family: Garamond;font-size: 18px;font-style: italic;}
.detail .arrows{height:180px;float: left;width: 16%;cursor: pointer;}
.detail .arrows2{height: 44px;}
.detailprev{background: url('../images/detailprev.png') no-repeat left center;}
.detailnext{background: url('../images/detailnext.png') no-repeat right center;}
.detailW6{width: 68%;margin: 0 auto}


/*barbg*/
.barbg{background: url('../images/barbg.png') no-repeat center;height: 70px;width: 100%;}

/*knowhow*/
.knowhow{}
.knowhowtit{height: 100px;border-bottom: #000 solid 1px;position: relative;margin:0 0 110px;}
.knowhowtit h2{font-size: 30px;width: 290px;background: #fff;text-align: center;position: absolute;bottom:-14px;left:50%;margin-left:-145px;}
.knowhowitem{margin: 0 0 10px}
.knowhowL{float: left}
.knowhowR{float: right}
.knowhowintro{width: 28%;font-size:18px;text-align: center;padding-top:150px;}
.knowhowintro2{width: 28%;font-size:18px;text-align: center;background: #f9f4f4}
.knowhowintro2 a{font-family: Garamond;font-size: 18px;font-style: italic;border:#000 solid 1px;display: block;margin: 12px auto 0;text-align: center;width: 100px;height: 42px;line-height: 42px}
.knowhowpic{width: 70%;}

/*products*/
.products{}
.productstit{height: 100px;border-bottom: #000 solid 1px;position: relative;margin:0 0 110px;}
.productstit h2{font-size: 30px;width: 420px;background: #fff;text-align: center;position: absolute;bottom:-14px;left:50%;margin-left:-210px;text-transform : uppercase;}
.proinfortxt{float: left;width: 32.8%;background: #F6EEEE}
.proinfortxt h2{font-size: 18px;text-align: center;padding: 70px 50px 40px}
.proinfortxt p{font-family: Garamond;font-size: 18px;font-style: italic;padding: 0 50px 40px}
.proinfortxt a{font-family: Garamond;font-size: 18px;font-style: italic;border:#000 solid 1px;display: block;margin: 12px auto 0;text-align: center;width: 250px;height: 62px;line-height: 62px}
.proinforpic{float: right;width: 66.4%;overflow: hidden;}
.productslist{padding:10px 0;}
.prolistitem{text-transform : uppercase;float: left;width: 32.8%;margin-right: 0.8%;}
.prolistitem img{display: block;margin: 0 0 10px;}
.prolistitem p{background: #000;color:#fff;padding:12px;font-size: 18px;text-align: center ;}
.newsitem p{background: #fff;color:#000	;}

/*othercraf*/
.othercraf{padding-bottom:50px;}
.othercraftit h2{width: 320px;margin-left: -160px;}
.othercrafcom p{padding: 20px 0}

/*picinfor*/
.picinfor{}
.picinfortxt{float: left;width: 32.8%;font-size: 18px;}
.picinfortxt h2{padding-right: 50px;height: 50px;font-size: 30px;}
.picinfortxt p{font-family: Garamond;font-style: italic;padding-top: 20px;padding-right: 50px;}
.picinforpic{float: right;width: 66.4%;overflow: hidden;}

/*newsolder*/
.newsoldertime{height: 44px;background: #EFEFEF;line-height: 46px;text-align: center;}
.newsoldertime a{padding: 0 40px;font-size: 14px;}
.newsoldertime .on{text-decoration: underline;}
.newsolderbtn a{font-family: Garamond;font-size: 18px;font-style: italic;border:#000 solid 1px;display: block;margin: 12px auto 0;text-align: center;width: 250px;height: 62px;line-height: 62px}

/*newsnvents*/
.newsnvents{text-align: center;font-size: 18px;}
.newsnvents h3{font-size: 30px;text-transform: uppercase;padding: 30px 0;}
.newsnvents p{font-family: Garamond;font-style: italic;padding: 20px 0 30px;}
.newsnvents a{font-family: Garamond;font-size: 18px;font-style: italic;border:#000 solid 1px;display: block;margin: 12px auto 0;text-align: center;width: 250px;height: 62px;line-height: 62px}

/*press*/
.press{padding-bottom: 80px;}
.press .productstit h2{width: 180px;margin-left: -90px;}
.pressitem{width: 24.4%;margin-right: 0.8%;}
.pressitem p{background: #fff;color:#000;}

/*introparis*/
.introparis{width: 65%;margin: 0 auto}
.introparis h2{font-size: 30px;text-align: center;text-transform: uppercase;line-height: 85px;}
.introparis p{font-family: Garamond;font-size: 18px;font-style: italic;margin-bottom: 25px;text-align: center;}

/*parislist*/
.parislist{margin-bottom: 20px;}
.parisitem{float: left;width: 32.8%;margin-right: 0.8%;}

/*findus*/
.findus .productstit h2{width: 200px;margin-left: -100px;}
.findus .storechoose{width: 35%;padding-top: 100px;}
.findus .storechoose p{font-style: normal;}
.findus .storemap{width: 65%;}





/* Clear Used
================================================================================================= */
.marginR0{margin-right:0 ;}
