a {color:#9e927a;}
.piclistitem {width:32%;}
.footer-bottom {padding:1px;}
.footer-bottom .section {margin-top:40px;}
.logo a {background: url('../images/logo.gif') no-repeat;}
.copyright {background: url('../images/logo.gif') no-repeat top center;}